

.bg-danger {
  background-color: #7186bb!important;
}

.county-image {
  height: 60px;
  width: auto;
}

.mapouter {
  margin-top: 20px;
  text-align:right;
  height:660px;
  width:100%;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:664px;
  width:836px;
}

.about-img {
  width: 300px;
  height: auto;
}

html,body, main {
  background-color: #F6F6F6;
  height: 100%;
}
